langchain
langgraph
openai
tiktoken

faiss-cpu

pydantic
pydantic-settings

unstructured
beautifulsoup4
lxml

python-dotenv
typer

requests
httpx

ipykernel
rich

gradio
langchain-openai
langchain-community